# Виртуальное окружение
.venv/
venv/
env/

# Файл с секретами
.env
.env.local

# База данных (если будет SQLite для разработки)
*.sqlite3
db.sqlite3

# Питон кэш
__pycache__/
*.pyc

# Статика Django (собираемая)
staticfiles/
/media/

# IDE
.vscode/
.idea/

# Миграции Django (НО только кэшированные, не сами файлы миграций)
*.pyc

# Логи
*.log

# OS файлы
.DS_Store
Thumbs.db
